.gallery {
  display: flex;
  width: 270px;
  height: 170px;
}
.item:not(:last-child) {
  margin-right: 30px;
}
.item {
  display: inline-flex;
  flex-direction: row;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
